.filter-container {
    left: -6.6rem;
    top: 2rem;
    border: 1px solid rgb(191, 191, 248);
    position: absolute; 
    padding: 0 0.4rem;
    z-index: 12;    
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid lightblue; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;    
  }
  .filter-container.visible{ 
    display: block;  
  }  
  .filter-container .filter-hdr1 {
    padding: 6px 6px 0 6px;
    margin-bottom: 0;
    border-bottom: 2px solid teal ;
    color: teal;
    font-weight: 500;
  }
  .filter-container .filter-ul {
    display: inline-block;  
    padding: 6px;
    margin: 0;    
  }
  .filter-container .filter-li {  
    padding: 0;
    list-style: none; 
    text-align: left;
    font-weight: normal;
  }
  .filter-container label {  
    margin: 0;  
  }
  .filter-container .filter-checkbox,
  .filter-container .filter-radio  {
    margin-right: 4px;
  }

  
  
  