/* flex-container */
.container-iconFilter {    
    margin-left: 2.1rem;    
    position: relative;    
}
.container-iconFilter:before { 
  top: -48px;
  left: -96px;  
}
.container-iconFilter .fa-filter {
    color: seagreen;
    font-size: 1.3rem;
    margin: 0.2rem;
    padding: 0.2rem;    
    cursor: pointer;
    font-weight: lighter ;
  } 
  .container-iconFilter .fa-filter:hover {
   color: #00aff0;   
   font-size: 1.3rem;
   margin: 0.2rem;
   padding: 0.2rem;  
   cursor: pointer;
   font-weight: lighter ;
 } 
 .container-iconFilter .fa-filter:after {
   content: "\007C";   
   color:  teal;
   font-size: 1.3rem;
   font-weight: bold;   
   margin: 0 0 0 0.6rem;
   padding:0;
  }
