* {
  box-sizing: border-box;
}
html {
  color: -internal-root-color;
  height: 100%;
}
.html-hide-scrollbar::-webkit-scrollbar {
  display: none;  
}
.html-overflow-hidden {
  overflow-y: hidden; 
}
body {  
  font-family: Roboto, sans-serif;  
  min-height: 100%;  
  background-color: #eee;
  overflow-y: visible;
  width: 86%;
  margin: auto; 
}
div, form, input, select, textarea, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, sans-serif;  
  font-size: 1rem;
  color: #665;
  line-height: 22px;
}
p { 
  text-indent: 1em;
}
/* ------------------------------ */
.flex-container {
  display: flex;
  flex-direction: row;
  width:100%;
  min-height: 44px;
  align-items: center;     
  text-align: center;   
} 
.item {
  flex-grow: 1;
  height:220px;
}
.item + .item {
  margin-left: 1%;
}
.osm-map {
  display: none;  
  padding: 0.4rem 0;
  margin: 0.4rem 0;
  border: lightgrey solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 6px;
  width: 100%;  
 }
 .googleMaps-map {
  display: none;  
  padding: 0.4rem 0;
  margin: 0.4rem 0;
  border: lightgrey solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 6px;
  width: 100%;  
 } 
 .photo {
  display: none;  
  padding: 0.4rem 0;
  margin: 0.4rem 0;
  border: lightgrey solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 6px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center; 
  width: 100%;  
 }
 .photo-portrait, .photo-avatar {
  display: none;  
  padding: 0.4rem 0;
  margin: 0.4rem 0;
  border: lightgrey solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 6px;
  background-repeat:no-repeat; 
  background-size:cover;
  background-position: left;
  flex: 0 0 220px; 
  width: 100%; 
 }
 .fa-plus, .fa-pencil, .fa-trash-o, .fa-database {
   color: seagreen;
   font-size: 1.3rem;
   margin: 0.2rem;
   padding: 0.2rem;   
   cursor: pointer;
   font-weight: lighter ;
 }
 .fa-plus:hover, .fa-pencil:hover, .fa-trash-o:hover, .fa-database:hover {
  color: #00aff0;
  font-size: 1.3rem;
  margin: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
  font-weight: lighter ;
}
.fa-trash-o:after, .fa-database:after {
  content: "\007C";
  color:  teal;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 0 0.6rem;
  padding:0;
 }
fieldset {
  padding:10px;
  border-radius:10px;
}
label {
  display:inline-block;
  margin-bottom:10px;
}

