.main-сontainer{
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap;
    width:100%; 
    margin-top: 2.8rem; 
    margin-bottom: 2rem; 
}
/***************************
     booklet-cover                            
 ***************************/
.booklet-cover { 
    display: none;    
    width: 230px;
    min-width: 230px; 
    max-width: 230px; 
    height: 100%; 
    background:#eee;
    /* transition: flex 0.3s ease-out;     */    
    flex: 0;      
}
.booklet-cover.visible {   
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;   
    flex: 1;  
    min-width: 230px;    
}
.booklet-cover.booklet-opened {
    background:#eee; 
    border-left: 12px solid #eee;
}
.spiral-binding {    
    display: block;
    width:17px;
    height: 100%;
    min-height: 120px;
    background-image: url("/assets/photos/sidebar-image4.jpg");
    background-repeat: repeat-y;   
}
.spiral-binding.image-display-none {    
    display: none;    
}
/* caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
.front-page .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.close-button.close-booklet>div {    
    background: transparent;
    color: silver;
    font-size: 1.6em;
    padding: 0;    
}
.close-button.close-booklet>div:hover{            
    color: #eee;
    cursor: default;    
    background-color: 	cadetblue;
}
/***********************************
     front page - booklet closed                            
 ***********************************/
.front-page.booklet-closed {
    /* width: 220px; */
    width: 230px;
    border-radius: 0; 
    margin-right: 8px;
    border-top: 2px solid silver;
    background: linear-gradient(#eee,#eee,#eee, #eee);
    box-shadow: 5px 5px 6px 0px rgba(186,182,186,1);
    /* transition: 0.5s;   */
}
.front-page.booklet-closed .front-page-header,
.front-page.booklet-closed .front-page-footer
{  
    background: #eee;
}
#booklet .booklet-closed .front-page-header-text  {
    color: teal; 
    display: block;    
}
#booklet .booklet-closed .front-page-title{     
    color: teal;
    border-bottom: 2px solid teal; 
    font-weight: 500; 
}
#booklet .front-page.booklet-closed  a,
#booklet .front-page.booklet-closed .dropdown-bt{
    /* padding: 0.2rem 1rem 0.3rem  0.3rem; */
    padding: 0.2rem 0.3rem 0.3rem  0.3rem;
    margin-left: 0.3rem;
    color: teal;
    background: none;
}
#booklet .booklet-closed a:hover,
#booklet .booklet-closed .dropdown-bt:hover{    
    color: deepskyblue;
}
#booklet .booklet-closed .dropdown-bt.active{
    background-color: teal;  
    color: #eee;   
}

/* #booklet .dropdown-bt.active{  
    background: linear-gradient(to right, #8b8b8b 0%, #eee 96%, #dbdbdb 100%); 
    color: 	rgb(245, 245, 245);
} */

#booklet .booklet-closed .dropdown-bt.active:hover{ 
    color: white;
}
#booklet .booklet-closed .dropdown-container {    
    /* background-color: red; */
    /* background-color: #d5ebe9; */
    margin-left: 0.3rem; 
    padding-right: 0;
    background: #d1d6d1; 
    /* background: linear-gradient(to right, #d1d6d1 0%, #d9e4dd 80%, #eee 100%);     */
}  


/* #booklet .dropdown-container {
    display: none;  
    background: linear-gradient(to right, #D9D9D9 0%, #dbdbdb 80%, #eee 100%);    
} */

#booklet .front-page.booklet-closed a.a-active{  
    /* background-color: #a1d8d8; */

    background: #b8beb8;
    /* background: #eee; */
    padding: 0.2rem 1rem 0.3rem 0.6rem;
    margin-left: 0; 
    /* margin-left: 0.3rem; */
    /* color: #00aff0;; */
    font-weight: 500;
}
/***********************************
     front page - booklet opened                           
 ***********************************/
.front-page {
    height: 100%;
    /* width: 220px; */
    width: 230px;
    /* width: 240px; */
    background: linear-gradient(90deg, rgba(232,229,229,1) 0%,
     rgba(253,254,255,1) 84%, rgba(222,223,224,1) 100%);
    overflow-x: hidden;
    overflow-y:scroll;    
    /* transition: 0.5s;  */
    border: 2px solid  rgb(186, 190, 192);      
    border-radius:75% 14% 13% 76% / 2% 1% 1% 2%; 
  }
.front-page-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;   
    position: -webkit-sticky;
    position: sticky;
    top: 0;    
    height: 3rem;    
    z-index: 9999; 
    padding: 0.7rem 0.1rem 0.6rem 0.2rem;  
    background: linear-gradient(90deg, rgb(232,229,229,1) 0%,
    rgba(253,254,255,1) 84%, rgb(235, 232, 232) 100%);
}
.front-page-footer {    
    position: -webkit-sticky;
    position: sticky;    
    bottom: 0;    
    height: 2rem;   
    z-index: 9999;    
    border: 0px solid grey;
    background: linear-gradient(90deg, rgb(232,229,229,1) 0%,
    rgba(253,254,255,1) 84%, rgb(235, 232, 232) 100%);
}
/* text formatting */
/* Calibri, 'Lilita One', Roboto, 'Abril Fatface', Raleway, */
/* Georgia, 'Bookman Old Style', 'Merriweather',  */
/* 'Times New Roman', Arial, Raleway, serif; */
#booklet {
    text-align: left;    
}
#booklet .front-page-header-text{    
    padding-left: 1rem;
    margin:0;
    line-height: 1.9rem;    
    font-size: 0.9rem; 
    font-family: 'Bookman Old Style', Georgia, Roboto, 'Lilita One', Raleway,'Abril Fatface', sans-serif;
    font-weight: 700;                 
    color: #54585A;
    z-index: 2;  
    display: none;   
} 
#booklet .front-page-title {    
    border-bottom: 1px solid #54585A;
    margin: 0 1rem 1rem 1rem;
    padding: 0; 
    font-family: Roboto, Georgia, 'Bookman Old Style', serif;
    font-size: 1.2rem;
    font-weight: 500;    
    color: #54585A; 
    text-align: center;   
}
#booklet .front-page a,
#booklet .dropdown-bt {    
    /* padding: 0.2rem 1rem 0.3rem 1.6rem;   */
    padding: 0.2rem 0.3rem 0.3rem 1.6rem;     
    text-decoration: none;
    font-family: Roboto, 'Roboto Condensed', Georgia, 'Bookman Old Style', serif;   
    font-size: 0.9rem !important; 
    line-height: 1rem;  
    font-weight: 500;    
    color: #54585A;    
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
#booklet .front-page a{
    word-wrap: break-word;    
}
#booklet .front-page a:hover,
#booklet .dropdown-bt:hover {
    color: rgb(32, 33, 34);
}
#booklet .dropdown-bt.active{  
    background: linear-gradient(to right, #8b8b8b 0%, #eee 96%, #dbdbdb 100%);   
    /* background: linear-gradient(to right, #8b8b8b 0%, #dbdbdb 80%, #eee 100%);     */
    color: 	rgb(245, 245, 245);
}
#booklet .dropdown-bt.active:hover{ 
    color: white;
}
#booklet .dropdown-container {
    display: none;  
    background: linear-gradient(to right, #D9D9D9 0%, #dbdbdb 80%, #eee 100%);    
} 
#booklet .dropdown-container a {
    padding-left: 32px;
}
#booklet .front-page a.a-active{ 
    background: linear-gradient(to right, #C0C0C0 0%, #dbdbdb 90%, #eee 100%);   
}
#booklet .dropdown-container a:last-child {   
    padding-bottom: 4px;
}
/***********************************
     regular page - booklet opened                           
 ***********************************/
/* font-family: Roboto,"Noto Sans",sans-serif;   */
/* 'Merriweather',Georgia, Raleway,  */
/* font-family: Georgia, 'Merriweather', 'Bookman Old Style', sans-serif;  */
/* @media screen and (max-height: 450px) {
    .front-page {padding-top: 15px;}
    .front-page a {font-size: 18px;}
} */
#regularPage {
    min-width: 220px; 
    max-width: 100%;
    background-color: #eee;    
    overflow-x: hidden; 
    overflow-y: scroll;
    direction: rtl; 
    text-align: left;
    border: 2px solid  rgb(186, 190, 192); 
    border-radius:5% 91% 70% 12% / 1% 3% 3% 1%;
    box-shadow: inset 25px 0px 25px -25px rgba(73, 73, 73, 0.45); 
}
#regularPage .regular-page-header{
    direction: ltr;
}
#regularPage .regular-page-content{
    direction: ltr;     
}
#regularPage .regular-page-footer{
    direction: ltr;
}
#frontPage::-webkit-scrollbar,
#regularPage::-webkit-scrollbar
{    
    width: 12px;   
    height: 18px;
}
#frontPage::-webkit-scrollbar-thumb,
#regularPage::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05)
}
#frontPage::-webkit-scrollbar-button,
#regularPage::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
#frontPage::-webkit-scrollbar-corner,
#regularPage::-webkit-scrollbar-corner {
    background-color: transparent;
}
#regularPageCover {    
    flex: 1 0 400px;    
    min-width: 220px;    
    max-width: 800px;    
    background:#eee;
    display: none;
}
#regularPageCover.visible {
    display: block;
}
.regular-page-header {    
    position: -webkit-sticky;
    position: sticky;
    top: 0;      
    height: 3rem;
    background-color: #eee; 
    z-index: 0;
    box-shadow: inset 12px 0px 25px -25px rgba(73, 73, 73, 0.45);
}
.regular-page-footer {    
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;    
    height: 2rem;
    background-color: #eee; 
    z-index: 9999;
    box-shadow: inset 12px 0px 25px -25px rgba(73, 73, 73, 0.45);    
} 
/**********     panel text formatting      **********/
.regular-page {    
    font-weight: normal;    
}
.regular-page p {
    display: block; 
    max-width: 600px;    
    word-wrap: break-word;    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2em;
    margin-inline-end: 1.0em;    
    max-height: 700px; 
    color: #54585A;
}
.regular-page q {
    display: block;   
    max-width: 500px;    
    word-wrap: break-word;    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 4.5em;
    margin-inline-end: 1.0em;    
    max-height: 700px;   
}
.regular-page p a {
    /* color: dodgerblue; */
    /* color:#00aff0; */
    font-weight: 500;   
}
.regular-page h1,
.regular-page h2,
.regular-page h3,
.regular-page h4,
.regular-page h5,
.regular-page h6 {
    font-family: Georgia, serif;
    font-weight: 600;    
    margin: 0.6rem 0px 0.4rem 0px;
    padding-left: 1.4rem;    
}
.regular-page p,
.regular-page dd {
    line-height: 1.4em; 
    margin: 0;
    padding-left: 1.4rem;
    padding-right: 0.4rem;    
}
.regular-page li {
    line-height: 1.4em; 
    margin: 0;
    padding-left: 0.2rem;
    font-family: Georgia, Roboto, 'Roboto Condensed', 'Bookman Old Style', serif;
    font-weight: 600; 
    font-size: 0.9rem !important;   
} 
.regular-page ul {
    margin-block-start: 0;
    margin-block-end:0.4rem;
    padding-inline-start: 2.5rem;
}
.regular-page a { 
    padding: 0.2rem 1rem 0 0.2rem;       
    text-decoration: none;
    font-family: Georgia, Roboto, 'Roboto Condensed', 'Bookman Old Style', serif;    
    /* font-size: 0.9rem !important;  */
    font-size: 1rem !important; 
    line-height: 1rem;
    font-weight: 600; 
    /* color: #2b6dad; */
    color: #0077aa;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.regular-page a:hover {
    text-decoration: underline ;   
}
.regular-page pre {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 800;
    white-space: pre-wrap;
    background: #eee;    
}
.regular-page code {    
    white-space: pre-wrap;
}
fieldset {    
    border: 1px rgb(0, 128, 128, 0.75) solid;
    border-bottom: 2px teal solid;
    border-radius: 8px;
    padding:0.2rem 1rem 1rem 1rem;
    margin: 1rem 3rem;    
}
legend, .legend2 {    
    border: 1px rgb(0, 128, 128, 0.75) solid;   
    border-bottom: 2px teal solid;
    border-radius: 4px;
    margin-left: 0rem;
    padding: 0rem 0.4rem;
    color: #b58900;    
    font-size: 0.8rem;
    font-weight: 700;
} 
fieldset {
    position: relative;
    min-width: 150px;
}
.legend2 {
    position: absolute;
    top: -0.2em;
    right: 20px;
    background: #eee; 
}
.img-responsive {
    width: 94%;
    height: auto;
    margin: 0 0 0 1.2rem;
    padding: 0 1rem 0 0;
  }
.img-small-responsive {
    width: 80%;
    max-width: 400px;
    height: auto;    
    margin: 0 0 0 3rem;    
}
.img-fixedsize {
    width: 400px;
    height: 600px;    
    margin: 0 0 0 2rem;
    padding: 0 1rem 0 0;
}
.img-fixedsize-small {
    margin: 0 0 0 2rem;
    padding: 0 1rem 0 0;
}
.img-fixedsize-inline {
    margin: 0 0 0 0.4rem;
    padding: 0 0.4rem 0 0;
}
.vertical-separator {
    width: 20px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
    display: none;
}  
.vertical-separator::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: red;
    margin: 0 auto;
}
.vertical-separator.visible {
    display: block;
}
/* blockquote::before {
    content: "“";
}
blockquote::after {
    content: "”";
} */
/* q.show-cite[cite]::after {
    content: "” (" attr(cite) ") ";
  }
  
  q.on-hover[cite]::before {
    content: "“";
  }
  q.on-hover[cite]:hover::after {
    content: "” (" attr(cite) ") ";
  } */
